.how-to-use-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .side-nav {
    position: fixed;
    top: 40%;
    left: 40px;
    transform: translateY(-50%); /* Centers the nav vertically on the page */
    list-style: none;
    padding: 0;
  }
  
  .side-nav ul {
    list-style: none;
    padding: 0;
  }
  
  .side-nav ul li {
    margin-bottom: 15px;
  }
  
  .side-nav ul li a {
    color: #2c3e50;
    text-decoration: none;
    font-size: 1em;
    display: block;
    transition: color 0.3s ease;
  }
  
  .side-nav ul li a:hover {
    color: #007bff; /* Change color on hover */
  }

  .side-nav ul li a.active {
    color: #007bff; /* Blue color to highlight the active section */
    font-weight: bold; /* Optionally make the active link bold */
  }
  
  .how-to-use-container {
    max-width: 800px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .how-to-use-container h2 {
    font-size: 2.5em;
    color: #a8a8a8;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .how-to-use-container h3 {
    font-size: 1.2em;
    color: #007bff;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .how-to-use-container p {
    font-size: 1em;
    line-height: 1.6;
    color: #555555;
    margin-bottom: 15px;
    text-shadow: #696969 0px 0px 1px;
  }
  
  .how-to-use-container section {
    margin-bottom: 10%;
  }
  
  .how-to-use-container .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .how-to-use-container .image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ecf0f1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }


  .how-to-use-wrapper .how-to-use-container section {
    border: 1px solid #d0d0d0; /* Darker borders around sections */
    border-radius: 8px;
    padding: 20px;
    background-color: #f6f6f6;
}

  .how-to-use-container .getting-started-section {
    padding-bottom: 100px;
  }
  
  /* Smooth scrolling */
  html {
    scroll-behavior: smooth;
  }

  @media (max-width: 1300px) {
    .how-to-use-container {
      max-width: 70%;
      padding: 20px;
      font-family: 'Arial', sans-serif;
    }
}

  /* hide nav on mobile */
    @media (max-width: 1100px) {
        .side-nav {
        display: none;
        }
        .how-to-use-container {
          max-width: 95%;
          padding: 10px;
          font-family: 'Arial', sans-serif;
        }
    }