@font-face {
  font-family: 'Vilna';
  src: url('../assets/fonts/Mekorot-Vilna.ttf') format('truetype'); /* Adjust the path as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vilna';
  src: url('../assets/fonts/Mekorot-Vilna-Bold.ttf') format('truetype'); /* Adjust the path as needed */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rashi';
  src: url('../assets/fonts/NotoRashiHebrew-Regular.ttf') format('truetype'); /* Adjust the path as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rashi';
  src: url('../assets/fonts/NotoRashiHebrew-Bold.ttf') format('truetype'); /* Adjust the path as needed */
  font-weight: bold;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in-element {
  animation: fadeIn 1.5s ease-in-out;
}

.page-container {
  display: flex;
  justify-content: center;
  background-color: rgb(253, 251, 242);
  min-height: 100vh;
}

.content-and-translation-container {
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

.content-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  text-align: justify;
  text-align-last: right;
  direction: rtl;
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1.6em;
}

.column.talmud {
  font-family: 'Vilna', sans-serif;
  font-size: 1.4em;
  line-height: 1.6em;
}

.column.rashi {
  font-family: 'Rashi', 'Noto Rashi Hebrew', sans-serif;
  font-weight: bold;
}

.not-rashi-header {
  font-family: 'Rashi', 'Noto Rashi Hebrew', sans-serif;
  font-weight: normal;
}

.text-container {
  height: 100%;
}

.text-segment {
  padding: 10px;
  transition: background-color 0.3s;
}

.text-segment:hover {
  color: rgb(196, 180, 6);
  cursor: pointer;
}

.text-segment.selected {
  background-color: rgb(253, 245, 130);
}

.text-segment.selected:hover {
  color: black;
}

.page-h2 {
  text-align: center;
  margin-bottom: 10px;
}

.fixed-page-butn {
  position: fixed;
  top: 45%;
  left: 5%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100px;
}

.fixed-page-butn button {
  background: none;
  font-size: 25px;
}


@media (max-width: 768px) {
  .page-container {
    padding: 10px;
    justify-content: flex-start;
  }

  .content-and-translation-container {
    max-width: 100%;
    padding: 10px;
  }

  .content-container {
    flex-direction: column;
    padding-top: 0;
  }

  .column {
    margin: 5px 0;
    padding: 5px;
    font-size: 1em;
    line-height: 1.4em;
  }

  .column.talmud {
    font-size: 1.2em;
    line-height: 1.4em;
  }

  .text-container {
    width: 100%;
  }

  .text-segment {
    padding: 5px;
  }

  .page-h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .fixed-page-butn {
    /* top: auto; */
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 80px;
  }

  .fixed-page-butn button {
    font-size: 20px;
  }
}