/* Page.css */

@font-face {
  font-family: 'Vilna';
  src: url('../assets/fonts/Mekorot-Vilna.ttf') format('truetype'); /* Adjust the path as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vilna';
  src: url('../assets/fonts/Mekorot-Vilna-Bold.ttf') format('truetype'); /* Adjust the path as needed */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rashi';
  src: url('../assets/fonts/NotoRashiHebrew-Regular.ttf') format('truetype'); /* Adjust the path as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rashi';
  src: url('../assets/fonts/NotoRashiHebrew-Bold.ttf') format('truetype'); /* Adjust the path as needed */
  font-weight: bold;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.fade-in-element {
  animation: fadeIn 1.5s ease-in-out;
}

.page-container {
    display: flex;
    justify-content: center;
    /* padding: 10px; */
    /* padding-left: 300px;
    padding-right: 300px; */
    background-color: rgb(253, 251, 242);
    /* padding-bottom: 60px; */
    min-height: 100vh;
  }

  .content-and-translation-container {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* padding: 10px; */
    /* padding-left: 200px;
    padding-right: 200px;
    background-color: rgb(253, 251, 242); */
  }

  .content-container {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    
    /* background-color: rgb(253, 251, 242); */
    height: 100%;
    max-width: 100%;

  }
  
  .column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* border: 1px solid #cccccc; */
    margin: 10px;
    overflow: hidden;
    text-align: justify;
    text-align-last: right;
    direction: rtl;
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.6em;
  }
  .column.talmud {
    font-family: 'Vilna', sans-serif;
    font-size: 1.4em;
    line-height: 1.6em;
  }
  .column.rashi {
    font-family:  'Rashi', 'Noto Rashi Hebrew', sans-serif;
    font-weight: bold;
  }
  .not-rashi-header {
    font-family: 'Rashi', 'Noto Rashi Hebrew', sans-serif;
    /* font-size: 1.4em;
    line-height: 1.6em; */
    font-weight: normal;
    /* color: red; */
  }

  .text-container {
    /* display: flex;
    flex-direction: column; */
    height: 100%;
  }
  
  .text-segment {
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .text-segment:hover {
    /* background-color: #f0f0f0; */
    color: rgb(43, 51, 200);
    cursor: pointer;
    /* background-color: rgb(171, 148, 47); */
    /* border-bottom: 3px solid #ccc; */
  }
  .text-segment.selected {
    /* color: rgb(130, 120, 34); */
    background-color: rgb(118, 202, 255);
  }
  .text-segment.selected:hover {
    color: black;
  }
  
   .page-h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  .fixed-page-butn {
    position: fixed;
    top: 45%;
    left: 5%;
    /* background: white; */
    /* padding: 10px; */
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100px;
  }

  .fixed-page-butn button {
    background: none;
    font-size: 25px;
  }

  .page-butn-div {
    padding: 5px;
    font-weight: bold;
  }
  
  
  .sticky-translation-footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    max-width: 100%; 
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.sticky-translation-footer-content {
    width: 100%;
    max-width: 100%; 
    background: rgb(255, 254, 251);
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 150px;
    padding-top: 5px;
}

.translation-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90%;
    text-align: center;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.translation-box p {
    text-align: center;
    align-content: center;
    margin: 0;
    height: 100%;
    font-size: 14px;
    line-height: 1.3;
    font-weight: bold;
    margin: 0px;
}

.translation-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.translation-buttons button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(253, 250, 239);
}

.translation-buttons button:hover {
    background-color: rgb(118, 202, 255);
    color: white;
}

  .translation-nav-button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    color: rgb(17, 17, 17);
    /* border-radius: 4px; */
    text-align: center;
    font-size: 16px;
    font-size: 30px;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    padding-right: 10px;
    padding-left: 10px;
  }
  .modal-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    justify-content: center;
    position: relative;
    padding-top: 30px;

  }

  .modal-content h3 {
    width: 100%;
    margin: 10px
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background: none;
    font-size: 18px;
    border: none;
  }
  .edit-translation-header {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #6b6b6b;
  }
  
  .edit-translation {
    width: 95%;
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }

  .edit-notes-header {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #6b6b6b;
  }

  .edit-notes {
    width: 95%;
    max-width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    background-color: #e3e2e2;
  }
  
  .modal-content button {
    /* margin-top: 10px;
    padding: 10px; */
    font-size: 16px;
    cursor: pointer;
    border: none;
    top: 5px;
    right: 5px;
  }

  .modal-submit-button {
    background-color: rgb(229, 229, 226);
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
  }

  .modal-submit-button:hover {
    background-color: rgb(118, 202, 255);
    color: white;
  }

  .rating-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
    }
    
    .rating-option {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 1px solid #eeeeee;
    font-weight: bold;
    }

    .rating-option:hover {
    background-color: rgb(197, 235, 252);
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }
    
    .rating-option.selected {
    background-color: rgb(107, 182, 251);
    /* border-radius: 5px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: white;
    }

    .text-and-trans-for-rating {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
    .text-and-trans-for-rating .hebrew-div {
      width: 48%;
      text-align: right;
    }
    .text-and-trans-for-rating .translation-div {
      width: 48%;
      text-align: left;
    }

    .rate-modal-text-area {
      margin-top: 30px;
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      height: 150px;
      margin-bottom: 20px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-family: Arial, sans-serif;
    }

    .modal-content button {
      padding: 10px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      font-size: 16px;
    }

    .modal-content button:hover {
      background-color: rgb(118, 202, 255);
      color: white;
    }
    
   